@model act_Application.Models.Sistema.AportarViewModel
@using act_Application.Models.Sistema
@{
    ViewData["Title"] = "Aportar";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Aportar/Aportar.css" />
    <script src="~/js/Aportar/Aportar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h2>Registro de Aportación</h2>

        <form asp-action="Aportacion" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--Contenedor de la Fecha-->
            <div class="form-group">
                <label asp-for="Aportacion.FechaAportacion">Fecha de Hoy:</label>
                <div class="date">
                    <script>
                        date = new Date().toLocaleDateString();
                        document.write(date);
                    </script>
                </div>
            </div>

            <!--Contenedor de Nombre del Banco-->
            <div class="form-group">
                <label asp-for="Aportacion.Nbanco">Banco:</label>
                <select asp-for="Aportacion.Nbanco" id="banco" name="Nbanco">
                    <option value="">Seleccionar un Banco...</option>
                    @foreach (var item in ViewData["ItemsNBanco"] as List<act_Application.Models.Sistema.ListItems>)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                    <input type="hidden" asp-for="Aportacion.Nbanco" />
                </select>
                <span asp-validation-for="Aportacion.Nbanco" class="text-danger"></span>
            </div>

            <!--Contenedor de la Cuenta Bancaria-->
            <div class="form-group">
                <label asp-for="Aportacion.Cbancaria">Cuenta:</label>
                <input asp-for="Aportacion.Cbancaria" class="input-cuenta" type="number" min="10000000" max="999999999999" name="Cbancaria" />
                <span asp-validation-for="Aportacion.Cbancaria" class="text-danger"></span>
            </div>

            <!--Contenedor de la Razon-->
            <div class="form-group">
                <label asp-for="Aportacion.Razon">Razón:</label>
                <select asp-for="Aportacion.Razon" id="razon" name="razon" required>
                    <option value="">Seleccionar una Razon...</option>
                    @foreach (var item in ViewData["ItemsRazon"] as List<act_Application.Models.Sistema.ListItems>)
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                </select>
                <span asp-validation-for="Aportacion.Razon" class="text-danger"></span>
            </div>

            <!--Contenedor de Valor-->
            <div class="form-group">
                <label asp-for="Aportacion.Valor">Monto:</label>
                <div class="input-container">
                    <span class="dollar-sign">$</span>
                    <input asp-for="Aportacion.Valor" class="input-monto" type="number" min="5" step="0.01" name="Valor" />
                    <span asp-validation-for="Aportacion.Valor" class="text-danger"></span>
                </div>
            </div>

            <!--Contenedor de Banco Destino-->
            <div class="form-group">
                <label>Banco Destino:</label>
                <select id="CuentaDestino" name="CuentaDestino" required>
                    <option value="">Seleccionar un Banco Destino...</option>
                    @foreach (var cuenta in Model.ItemCuentaBancoDestino)
                    {
                        <option value="@cuenta.NombreBanco - #@cuenta.NumeroCuenta">@cuenta.NombreBanco - #@cuenta.NumeroCuenta</option>
                    }
                </select>
            </div>

            <!--Contenedor de Captura de Pantalla-->
            <div class="form-group">
                <label asp-for="Aportacion.CapturaPantalla">Comprobante de Transferencia:</label>
                <input asp-for="Aportacion.CapturaPantalla" id="imagen" name="imagen" class="input-file" type="file" accept=".jpg, .png" />
                <span asp-validation-for="Aportacion.CapturaPantalla" class="text-danger"></span>
            </div>

            <!--Contenedor de los Botones-->
            <div class="buttons">
                <button type="submit" class="save-button">Guardar</button>
                <button type="button" class="clear-button">Limpiar</button>
            </div>

        </form>
    </div>
</body>

