@model IEnumerable<act_Application.Models.BD.ActAportacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Razon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAportacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprobacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapturaPantalla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuadrante1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuadrante2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nbanco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cbancaria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Razon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAportacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprobacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapturaPantalla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuadrante1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuadrante2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nbanco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cbancaria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
