@model IEnumerable<act_Application.Models.Sistema.ViewModel.Notificaciones_VM>
@using act_Application.Data.Repository;
@using act_Application.Logic.ComplementosLogicos;
@{
    ViewData["Title"] = "Notificaciones";

    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == "Id");
    int IdUser = -1, Bandera = 0;
    if (userIdClaim != null && int.TryParse(userIdClaim.Value, out IdUser))
        Bandera = IdUser;
    //Variables de Vista
    DateTime fechaActual = DateTime.Now;
    string fechaactual = fechaActual.ToString("yyyy-MM-dd");
    DateTime minDateP = DateTime.Now.AddDays(46);
    string minDateStrP = minDateP.ToString("dd-MMMM-yyyy");

    var notificacionAdminList = Model
        .Where(notif => User.HasClaim("Rol", "Administrador") && notif.Notificaciones.Destino == "Administrador")
        .OrderByDescending(notifA => notifA.Notificaciones.FechaGeneracion)
        .ToList();
    var notificacionUsersList = Model
        .Where(notif => !User.HasClaim("Rol", "Administrador") && (User.HasClaim("Rol", "Socio") || User.HasClaim("Rol", "Referido")) && notif.Notificaciones.Destino != Bandera.ToString())
        .OrderByDescending(notifU => notifU.Notificaciones.FechaGeneracion)
        .ToList();
}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/General/Notificaciones/Notificaciones_1.css" />
    <link rel="stylesheet" href="/css/General/Notificaciones/Notificaciones_2.css" />
    <script src="/js/General/Notificaciones/Notificaciones_1.js"></script>
    <script src="/js/General/Notificaciones/Notificaciones_2.js"></script>
</header>
<body>
    <div class="content-text">
        <h1>Notificaciones</h1>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            if ((bool) new NotificacionesRepository().OperacionesNotificaciones( 1, 0, 0))
            {
                <div class="content-notif">
                    @foreach (var notificacionAdmin in notificacionAdminList)
                    {
                        if (notificacionAdmin.Notificaciones.Destino == "Administrador")
                        {
                            if (notificacionAdmin.Notificaciones.Visto == "NO")
                            {
                                switch (new ObtenerTipoNotificacion().ClasificarInformacion(notificacionAdmin.Notificaciones.IdActividad))
                                {
                                    case "NUSE":
                                        <div class="notif-container">
                                            <p class="notif-text">Tipo: @notificacionAdmin.Notificaciones.IdActividad: Nuevo Usuario</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "APOR":
                                        <div class="notif-container">
                                            <p class="notif-text">Tipo: @notificacionAdmin.Notificaciones.IdActividad: Nueva Aportacion</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <p class="modal__paragraph"><strong>Razon:</strong> @notificacionAdmin.Notificaciones.Razon</p>
                                                    <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</p>
                                                    <p class="modal__paragraph"><strong>Valor:</strong> @notificacionAdmin.Aportaciones.Valor</p>
                                                    <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                                    <p class="modal__description">@notificacionAdmin.Notificaciones.Descripcion</p>
                                                    <form asp-action="Visuzalizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="Id" />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "MULT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CMUL":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "AMUL":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CUOT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CCUO":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "ACUO":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "PRES":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Prestamo </p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                }
                            }
                        }
                    }
                </div>
            }
            else
            {
                <p>Actualmente no Tienes Notificaciones.</p>
            }
        }

        else if (!User.HasClaim("Rol", "Administrador") && (User.HasClaim("Rol", "Socio") || User.HasClaim("Rol", "Referido")))
        {
            if((bool) new NotificacionesRepository().OperacionesNotificaciones( 2, 0, Bandera))
            {
                <div class="content-notif">
                    @foreach( var notificacionUsers in notificacionUsersList)
                    {
                        if (notificacionUsers.Notificaciones.Destino == Bandera.ToString())
                        {
                            if (notificacionUsers.Notificaciones.Visto == "NO")
                            {
                                switch ((string)new ObtenerTipoNotificacion().ClasificarInformacion(notificacionUsers.Notificaciones.IdActividad))
                                {
                                    case "APOR":
                                        <div class="notif-container">
                                            <p class="notif-text">Tipo: @notificacionUsers.Notificaciones.IdActividad: Aporte</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionUsers.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <p class="modal__paragraph"><strong>Razon:</strong> @notificacionUsers.Notificaciones.Razon</p>
                                                    <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</p>
                                                    <p class="modal__paragraph"><strong>Valor:</strong> @notificacionUsers.Aportaciones.Valor</p>
                                                    <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                                    <p class="modal__description">@notificacionUsers.Notificaciones.Descripcion</p>
                                                    <form asp-action="Visuzalizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionUsers.Notificaciones.Id" name="Id" />
                                                            <button type="submit" data-notification-id="@notificacionUsers.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        break;
                                    case "MULT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CMUL":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "AMUL":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CUOT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CCUO":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "ACUO":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "PRES":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Prestamo </p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                }
                            }
                        }

                    }
                </div>
            }
            else
            {
                <p>Actualmente no Tienes Notificaciones.</p>
            }
        }
        else
        {
            <p>Usted no tiene permisos para esta funcion.</p>
        }
    </div>
</body>