@model IEnumerable<act_Application.Models.Sistema.ViewModel.Notificaciones_VM>
@using act_Application.Data.Repository;
@using act_Application.Logic.ComplementosLogicos;
@using act_Application.Models.Sistema.Complementos;
@{
    ViewData["Title"] = "Notificaciones";

    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == "Id");
    int IdUser = -1, Bandera = 0;
    if (userIdClaim != null && int.TryParse(userIdClaim.Value, out IdUser))
        Bandera = IdUser;
    //Variables de Vista
    DateTime fechaActual = DateTime.Now;
    string fechaactual = fechaActual.ToString("yyyy-MM-dd");
    DateTime minDateP = DateTime.Now.AddDays(46);
    string minDateStrP = minDateP.ToString("dd-MMMM-yyyy");

    var notificacionAdminList = Model
        .Where(notif => User.HasClaim("Rol", "Administrador") && notif.Notificaciones.Destino == "Administrador")
        .OrderByDescending(notifA => notifA.Notificaciones.FechaGeneracion)
        .ToList();
    var notificacionUsersList = Model
        .Where(notif => !User.HasClaim("Rol", "Administrador") && (User.HasClaim("Rol", "Socio") || User.HasClaim("Rol", "Referido")) && notif.Notificaciones.Destino != Bandera.ToString())
        .OrderByDescending(notifU => notifU.Notificaciones.FechaGeneracion)
        .ToList();
}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/General/Notificaciones/Notificacion_1.css" />
    <link rel="stylesheet" href="/css/General/Notificaciones/Notificacion_2.css" />
    <script src="/js/General/Notificaciones/Notificaciones_1.js"></script>
    <script src="/js/General/Notificaciones/Notificaciones_2.js"></script>
    <script src="/js/General/Notificaciones/Notificaciones_3.js"></script>
</header>
<body>
    <div class="content-text">
        <h1>Notificaciones</h1>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            if ((bool) new NotificacionesRepository().OperacionesNotificaciones( 1, 0, 0))
            {
                <div class="content-notif">
                    @foreach (var notificacionAdmin in notificacionAdminList)
                    {
                        if (notificacionAdmin.Notificaciones.Destino == "Administrador")
                        {
                            if (notificacionAdmin.Notificaciones.Visto == "NO" || notificacionAdmin.Notificaciones.Visto == "")
                            {
                                switch (new ObtenerTipoNotificacion().ClasificarInformacion(notificacionAdmin.Notificaciones.IdActividad))
                                {
                                    case "NUSE":
                                        <div class="notif-container">
                                            <p class="notif-text">Tipo: @notificacionAdmin.Notificaciones.IdActividad: Nuevo Usuario</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Peticion de Registro de Usuario.</h2>
                                                <hr />
                                                <div class="modal__content">
                                                    <h3 class="modal__title">Detalles</h3>
                                                    <table class="modal__table">
                                                        <tr>
                                                            <td><strong>Fecha de Registro:</strong></td>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Nombre del Usuario:</strong></td>
                                                            <td>@notificacionAdmin.Usuarios.NombreYapellido</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Cedula del Usuario:</strong></td>
                                                            <td>@notificacionAdmin.Usuarios.Cedula</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Celular:</strong></td>
                                                            <td>@notificacionAdmin.Usuarios.Celular</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Correo Electrónico:</strong></td>
                                                            <td>@notificacionAdmin.Usuarios.Correo</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>ID Socio:</strong></td>
                                                            <td>@notificacionAdmin.Usuarios.IdSocio</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Estado:</strong></td>
                                                            <td>@notificacionAdmin.Usuarios.Estado</td>
                                                        </tr>
                                                    </table>
                                                    <div class="container-modal-btn">
                                                        <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="btn-mdl-confir">Confirmar</button>
                                                        <a href="~/Notificaciones/Index" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                                    </div>
                                                </div>
                                                <div class="modal-secundaria" id="modal-resp-@notificacionAdmin.Notificaciones.Id">
                                                    <div class="modal-secundaria__container">
                                                        <h2 class="modal__title">Aceptar Usuario</h2>
                                                        <div class="modal-secundaria__content">
                                                            <form asp-action="Visualizado">
                                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                                <input type="hidden" asp-for="@notificacionAdmin.Usuarios.Id" name="IdA" />
                                                                <input type="hidden" value="4" name="Opcion" required/>
                                                                <select asp-for="@notificacionAdmin.Usuarios.TipoUser" name="TipoUser" required>
                                                                    <option value="">Selecciona el Tipo de Usuario</option>
                                                                    @foreach(var item in ViewData["ItemTipoUs"] as List<ListItems>)
                                                                    {
                                                                        <option value="@item.Nombre">@item.Nombre</option>
                                                                    }
                                                                </select>
                                                                <select name="Estado" required>
                                                                    <option value="">Selecciona el Estado de la Cuenta del Usuario</option>
                                                                    @foreach (var item in ViewData["ItemEstado"] as List<ListItems>)
                                                                    {
                                                                        <option value="@item.Nombre">@item.Nombre</option>
                                                                    }
                                                                </select>
                                                                <div class="container-modal-btn">
                                                                    <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="save-button">Guardar</button>
                                                                    <a href="~/Notificaciones/Notificacion" class="modal-secundaria__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "APOR":
                                        <div class="notif-container">
                                            <p class="notif-text">Tipo: @notificacionAdmin.Notificaciones.IdActividad: Nueva Aportacion</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor de la Aportacion:</th>
                                                            <td>@notificacionAdmin.Aportaciones.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "MULT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor:</th>
                                                            <td>@notificacionAdmin.Multas.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "CMUL":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor:</th>
                                                            <td>@notificacionAdmin.Multas.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "AMUL":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor:</th>
                                                            <td>@notificacionAdmin.Multas.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "CUOT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor:</th>
                                                            <td>@notificacionAdmin.Cuotas.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "CCUO":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor:</th>
                                                            <td>@notificacionAdmin.Cuotas.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "ACUO":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <h2 class="modal__title">Detalles</h2>
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                            <th>Razon:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Razon</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Fecha:</th>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Valor:</th>
                                                            <td>@notificacionAdmin.Cuotas.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Descripcion:</th>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                    </table>
                                                    <form asp-action="Visualizado">
                                                        <div class="container-modal-btn">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" value="1" name="Opcion" required />
                                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="modal__close">Cerrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                    case "PRES":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.IdActividad: Prestamo </p>
                                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                            <div class="modal__container">
                                                <div class="modal__content">
                                                    <table class="modal__table">
                                                        <tr>
                                                        <td></td>
                                                            <td><h3 class="modal__title">Detalles - Peticion de Prestamo</h3></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Fecha de Notificacion:</strong></td>
                                                            <td>@notificacionAdmin.Notificaciones.FechaGeneracion.ToString("dd-MM-yyyy")</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Detalles:</strong></td>
                                                            <td>@notificacionAdmin.Notificaciones.Descripcion</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Codigo de Identificacion:</strong></td>
                                                            <td>@notificacionAdmin.Prestamos.IdPres</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Valor a Prestamo</strong></td>
                                                            <td>@notificacionAdmin.Prestamos.Valor</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Tipo de Cuota:</strong></td>
                                                            <td>@notificacionAdmin.Prestamos.TipoCuota</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Fecha de Entrega de Dinero:</strong></td>
                                                            <td>@notificacionAdmin.Prestamos.FechaEntregaDinero</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Fecha de Inicio de Pago de Deuda:</strong></td>
                                                            <td>@notificacionAdmin.Prestamos.FechaInicioPagoCuotas</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Estado:</strong></td>
                                                            <td>@notificacionAdmin.Prestamos.Estado</td>
                                                        </tr>
                                                    </table>
                                                    <div class="select-modal">
                                                        <select class="select-acep-dene">
                                                            <option value="">Aceptar o Denegar Solicitud de Prestamo...</option>
                                                            <option value="SI">Aceptar</option>
                                                            <option value="NO">Denegar</option>
                                                        </select>
                                                    </div>
                                                    <div class="S-container-modal-btn">
                                                        <form asp-action="Visualizado">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" asp-for="@notificacionAdmin.Prestamos.Id" name="IdA" />
                                                            <input type="hidden" value="2" name="Opcion" />
                                                            <input type="hidden" value="ACEPTADO AF1" name="PEstado" />
                                                            <div class="form-group">
                                                                <label asp-for="@notificacionAdmin.Prestamos.FechaPagoTotalPrestamo" class="control-label">Fecha de Pago del Prestamo -> Fecha de Inicio de Pago de Cuotas @notificacionAdmin.Prestamos.FechaInicioPagoCuotas.ToString("dd-MMMM-yyyy")</label>
                                                                <input asp-for="@notificacionAdmin.Prestamos.FechaPagoTotalPrestamo"  type="date" class="input-date" name="FechaPagoTotalPrestamo" min="@fechaactual" required />
                                                                <span asp-validation-for="@notificacionAdmin.Prestamos.FechaPagoTotalPrestamo" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="@notificacionAdmin.Eventos.FechaInicio" class="control-label">Fecha Inicio de Inscripcion de Garantes</label>
                                                                <input asp-for="@notificacionAdmin.Eventos.FechaInicio" type="date" class="input-date" name="FechaInicio"min="@fechaactual" required />
                                                                <span asp-validation-for="@notificacionAdmin.Eventos.FechaInicio" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label asp-for="@notificacionAdmin.Eventos.FechaFinalizacion" class="control-label">Fecha Finalizacion de Inscripcion de Garantes</label>
                                                                <input asp-for="@notificacionAdmin.Eventos.FechaFinalizacion" type="date" class="input-date" name="FechaFinalizacion" min="@fechaactual" required />
                                                                <span asp-validation-for="@notificacionAdmin.Eventos.FechaFinalizacion" class="text-danger"></span>
                                                            </div>
                                                            <div class="container-modal-btn">
                                                                <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="btn-mdl-confir">Confirmar</button>
                                                                <a href="~/Notificaciones/Index" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="N-container-modal-btn">
                                                        <form asp-action="Visualizado">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" />
                                                            <input type="hidden" asp-for="@notificacionAdmin.Prestamos.Id" name="IdA" />
                                                            <input type="hidden" value="2" name="Opcion" />
                                                            <input type="hidden" value="DENEGADO" name="PEstado" />
                                                            <div class="container-modal-btn">
                                                                <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="bt-rechazar">Denegar</button>
                                                                <a href="~/Notificaciones/Index" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        break;
                                }
                            }
                        }
                    }
                </div>
            }
            else
            {
                <p>Actualmente no Tienes Notificaciones.</p>
            }
        }

        else if (!User.HasClaim("Rol", "Administrador") && (User.HasClaim("Rol", "Socio") || User.HasClaim("Rol", "Referido")))
        {
            if((bool) new NotificacionesRepository().OperacionesNotificaciones( 2, 0, Bandera))
            {
                <div class="content-notif">
                    @foreach( var notificacionUsers in notificacionUsersList)
                    {
                        if (notificacionUsers.Notificaciones.Destino == Bandera.ToString())
                        {
                            if (notificacionUsers.Notificaciones.Visto == "NO")
                            {
                                switch ((string)new ObtenerTipoNotificacion().ClasificarInformacion(notificacionUsers.Notificaciones.IdActividad))
                                {
                                    case "MULT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Multa</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "CUOT":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Cuota</p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                    case "PRES":
                                        <div class="notif-container">
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.IdActividad: Prestamo </p>
                                            <p class="notif-text">Razon: @notificacionUsers.Notificaciones.Razon</p>
                                            <p class="notif-text">Fecha: @notificacionUsers.Notificaciones.FechaGeneracion.ToString("dd-MMMM-yyyy")</p>
                                            <button class="btn-visualizar" data-notification-id="@notificacionUsers.Notificaciones.Id">Visualizar</button>
                                        </div>
                                        break;
                                }
                            }
                        }

                    }
                </div>
            }
            else
            {
                <p>Actualmente no Tienes Notificaciones.</p>
            }
        }
        else
        {
            <p>Usted no tiene permisos para esta funcion.</p>
        }
    </div>
</body>