@model IEnumerable<act_Application.Models.Sistema.NT_ViewModel>
@using act_Application.Data.Data;
@using act_Application.Logica;
@{
    ViewData["Title"] = "Notificaciones";
    var NotifiRepository = new NotificacionesRepository();
    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == "Id");
    int TotalNotiAdmin = NotifiRepository.GetTotalNotificacionesAdministrador(), userId = -1, TotalNotiUser = -1;
    
    if (userIdClaim != null && int.TryParse(userIdClaim.Value, out userId))
    {
        TotalNotiUser = NotifiRepository.GetTotalNotificacionesUsuario(userId);
    }
    
    DateTime minDateP = DateTime.Now.AddDays(46);
    string minDateStrP = minDateP.ToString("yyyy-MM-dd");
}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/General/Notificaciones.css" />
    <script src="/js/Notificaciones.js"></script>
</header>
<body>
    <div class="content-text">
        <h1>Notificaciones</h1>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            @if (TotalNotiAdmin > 0)
            {
                <div class="content-notif">
                    @foreach (var notificacionAdmin in Model)
                    {
                        <div class="notif-container">
                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaNotificacion.ToString("dd-MMMM-yyyy HH:mm:ss")</p>
                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                        </div>

                        <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                            <div class="modal__container">
                                <h2 class="modal__title">Detalles</h2>
                                <div class="modal__content">
                                    <p class="modal__paragraph"><strong>Razon:</strong> @notificacionAdmin.Notificaciones.Razon</p>
                                    <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionAdmin.Notificaciones.FechaNotificacion.ToString("dd-MM-yyyy")</p>
                                    <p class="modal__paragraph"><strong>IdUser:</strong> @notificacionAdmin.Notificaciones.IdUser</p>
                                    <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                    <p class="modal__description">@notificacionAdmin.Notificaciones.Descripcion</p>
                                    <p class="modal__paragraph"><strong>Destino:</strong> @notificacionAdmin.Notificaciones.Destino</p>
                                    <div class="container-modal-btn">
                                        <button class="btn-mdl-confir" data-notification-id="@notificacionAdmin.Notificaciones.Id">Confirmar</button>
                                        <button class="bt-denegar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Denegar</button>
                                        <a href="" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-denagado" id="modal-dene-@notificacionAdmin.Notificaciones.Id">
                            <div class="modal-denegado__container">
                                <h2 class="modal__title">Establesca la Razon de la Denegacion</h2>
                                <form asp-action="EditTran">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@notificacionAdmin.Transacciones.Id" name="Id" id="Id" />
                                    <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="IdN" id="IdN" />
                                    <div class="form-group">
                                        <input asp-for="@notificacionAdmin.Notificaciones.Descripcion" class="input-descripcion" name="Descripcion" id="Descripcion" required />
                                    </div>
                                    <div class="container-modal-denagado-btn">
                                        <button type="submit" class="save-button" data-notification-id="@notificacionAdmin.Notificaciones.Id">Guardar</button>
                                        <a href="" class="modal-secundaria__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="modal-secundaria" id="modal-resp-@notificacionAdmin.Notificaciones.Id">
                            <div class="modal-secundaria__container">
                                <h2 class="modal__title">Establesca la Fecha de Pago Total del Prestamo</h2>
                                <div class="modal-secundaria__content">
                                    <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="@notificacionAdmin.Transacciones.Id" name="id" id="id" />
                                        <input type="hidden" asp-for="@notificacionAdmin.Notificaciones.Id" name="id" id="id" />
                                        <div class="form-group">
                                            <label asp-for="@notificacionAdmin.Transacciones.FechaPagoTotalPrestamo" class="control-label">Fecha de Pago del Prestamo</label>
                                            <input asp-for="@notificacionAdmin.Transacciones.FechaPagoTotalPrestamo" type="date" class="input-date" name="FechaPagoTotalPrestamo" min="@notificacionAdmin.Transacciones.FechaIniCoutaPrestamo.ToString("dd-MMMM-yyyy HH:mm:ss")" required />
                                            <span asp-validation-for="@notificacionAdmin.Transacciones.FechaPagoTotalPrestamo" class="text-danger"></span>
                                        </div>
                                        <div class="container-modal-btn">
                                            <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="save-button">Guardar</button>
                                            <a href="" class="modal-secundaria__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>Actualmente no Tienes Notificaciones.</p>
            }
        }
        else
        {
            @if (!User.HasClaim("Rol", "Administrador") && (User.HasClaim("Rol", "Socio") || User.HasClaim("Rol", "Referido")))
            {
                @if (TotalNotiUser > 0)
                {
                    <div class="content-notif">
                        @foreach (var notificacionUser in Model)
                        {
                            <div class="notif-container">
                                <p class="notif-text">Razon: @notificacionUser.Notificaciones.Razon</p>
                                <p class="notif-text">Fecha: @notificacionUser.Notificaciones.FechaNotificacion.ToString("dd-MM-yyyy HH:mm:ss")</p>
                                <button class="btn-visualizar" data-notification-id="@notificacionUser.Notificaciones.Id">Visualizar</button>
                            </div>

                            <div class="modal-principal" id="modal-@notificacionUser.Notificaciones.Id">
                                <div class="modal__container">
                                    <h2 class="modal__title">Detalles</h2>
                                    <div class="modal__content">
                                        <form asp-action="AceptarReferente">
                                            <p class="modal__paragraph"><strong>Razon:</strong> @notificacionUser.Notificaciones.Razon</p>
                                            <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionUser.Notificaciones.FechaNotificacion.ToString("dd-MMMM-yyyy")</p>
                                            <p class="modal__paragraph"><strong>IdUser:</strong> @notificacionUser.Notificaciones.IdUser</p>
                                            <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                            <p class="modal__description">@notificacionUser.Notificaciones.Descripcion</p>
                                            <input type="hidden" asp-for="@notificacionUser.Transacciones.Id" name="Id" id="Id" />
                                            <input type="hidden" asp-for="@notificacionUser.Notificaciones.Id" name="IdN" id="IdN" />
                                            <div class="container-modal-btn">
                                                <button class="btn-mdl-confir" data-notification-id="@notificacionUser.Notificaciones.Id">Aceptar</button>
                                                <button class="bt-rechazar" data-notification-id="@notificacionUser.Notificaciones.Id">Rechazar</button>
                                                <a href="#" class="modal__close" data-notification-id="@notificacionUser.Notificaciones.Id">Cerrar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>Actualmente no Tienes Notificaciones.</p>
                }
            }
            else
            {
                <p>Usted no tiene permisos para esta funcion.</p>
            }
        }
    </div>
</body>