@model IEnumerable<act_Application.Models.Sistema.ViewModels.Notificaciones_VM>
@using act_Application.Data.Data;
@using act_Application.Logic;
@using act_Application.Models.Sistema.ViewModels;
@{
    ViewData["Title"] = "Notificaciones";

    var NotifiRepository = new NotificacionesRepository();
    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == "Id");
    int TotalNotiAdmin = NotifiRepository.GetTotalNotificacionesAdministrador(), userId = -1, TotalNotiUser = -1;

    if (userIdClaim != null && int.TryParse(userIdClaim.Value, out userId))
    {
        TotalNotiUser = NotifiRepository.GetTotalNotificacionesUsuario(userId);
    }
    DateTime fechaActual = DateTime.Now;
    string fechaactual = fechaActual.ToString("yyyy-MM-dd");
    DateTime minDateP = DateTime.Now.AddDays(46);
    string minDateStrP = minDateP.ToString("dd-MMMM-yyyy");
}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/General/Notificaciones/Notificaciones_1.css" />
    <link rel="stylesheet" href="/css/General/Notificaciones/Notificaciones_2.css" />
    <script src="/js/Notificaciones/Notificaciones_1.js"></script>
    <script src="/js/Notificaciones/Notificaciones_2.js"></script>
</header>
<body>
    <div class="content-text">
        <h1>Notificaciones</h1>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            @if (TotalNotiAdmin > 0)
            {
                <div class="content-notif">
                    @foreach (var notificacionAdmin in Model)
                    {
                        <div class="notif-container">
                            <p class="notif-text">Razon: @notificacionAdmin.Notificaciones.Razon</p>
                            <p class="notif-text">Fecha: @notificacionAdmin.Notificaciones.FechaNotificacion.ToString("dd-MMMM-yyyy")</p>
                            <button class="btn-visualizar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Visualizar</button>
                        </div>

                        @if (notificacionAdmin.Transacciones.Estado == "PENDIENTE ADMIN")
                        {
                            <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                <div class="modal__container">
                                    <h2 class="modal__title">Detalles</h2>
                                    <div class="modal__content">
                                        <p class="modal__paragraph"><strong>Razon:</strong> @notificacionAdmin.Notificaciones.Razon</p>
                                        <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionAdmin.Notificaciones.FechaNotificacion.ToString("dd-MM-yyyy")</p>
                                        <p class="modal__paragraph"><strong>IdUser:</strong> @notificacionAdmin.Notificaciones.IdUser</p>
                                        <p class="modal__paragraph"><strong>Tipo de Cuota:</strong> @notificacionAdmin.Transacciones.TipoCuota</p>
                                        <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                        <p class="modal__description">@notificacionAdmin.Notificaciones.Descripcion</p>
                                        <p class="modal__paragraph"><strong>Destino:</strong> @notificacionAdmin.Notificaciones.Destino</p>
                                        <div class="container-modal-btn">
                                            <button class="btn-mdl-confir" data-notification-id="@notificacionAdmin.Notificaciones.Id">Confirmar</button>
                                            <button class="bt-denegar" data-notification-id="@notificacionAdmin.Notificaciones.Id">Denegar</button>
                                            <a href="~/Notificaciones/Notificacion" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            /*Si Elije Negar El Prestamo*/
                            <div class="modal-denagado" id="modal-dene-@notificacionAdmin.Notificaciones.Id">
                                <div class="modal-denegado__container">
                                    <h2 class="modal__title">Establesca la Razon de la Denegacion</h2>
                                    <form asp-action="EditTDenegado">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="@notificacionAdmin.Transacciones.Id" name="Id" id="Id" />
                                        <div class="form-group">
                                            <input asp-for="@notificacionAdmin.Notificaciones.Descripcion" class="input-descripcion" name="Descripcion" id="Descripcion" required />
                                        </div>
                                        <div class="container-modal-denagado-btn">
                                            <button type="submit" class="save-button" data-notification-id="@notificacionAdmin.Notificaciones.Id">Guardar</button>
                                            <a href="~/Notificaciones/Notificacion" class="modal-secundaria__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            /*Si decide Aceptar el Prestamo*/
                            <div class="modal-secundaria" id="modal-resp-@notificacionAdmin.Notificaciones.Id">
                                <div class="modal-secundaria__container">
                                    <h2 class="modal__title">Establesca la Fecha de Pago Total del Prestamo</h2>
                                    <div class="modal-secundaria__content">
                                        <form asp-action="EditTConfirmado">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="@notificacionAdmin.Transacciones.Id" name="id" id="id" />
                                            <div class="form-group">
                                                <label asp-for="@notificacionAdmin.Transacciones.FechaPagoTotalPrestamo" class="control-label">Fecha de Pago del Prestamo -> Fecha de Inicio de Pago de Cuotas @notificacionAdmin.Transacciones.FechaIniCoutaPrestamo.ToString("dd-MMMM-yyyy")</label>
                                                <input asp-for="@notificacionAdmin.Transacciones.FechaPagoTotalPrestamo" required type="date" class="input-date" name="FechaPagoTotalPrestamo" id="FechaPagoTotalPrestamo" min="@fechaactual" />
                                                <span asp-validation-for="@notificacionAdmin.Transacciones.FechaPagoTotalPrestamo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@notificacionAdmin.Participante.FechaInicio" class="control-label">Fecha Inicio de Inscripcion de Garantes</label>
                                                <input asp-for="@notificacionAdmin.Participante.FechaInicio" required type="date" class="input-date" name="FechaInicio" id="FechaInicio" min="@fechaactual" />
                                                <span asp-validation-for="@notificacionAdmin.Participante.FechaInicio" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="@notificacionAdmin.Participante.FechaFinalizacion" class="control-label">Fecha Finalizacion de Inscripcion de Garantes</label>
                                                <input asp-for="@notificacionAdmin.Participante.FechaFinalizacion" required type="date" class="input-date" name="FechaFinalizacion" id="FechaFinalizacion" min="@fechaactual" />
                                                <span asp-validation-for="@notificacionAdmin.Participante.FechaFinalizacion" class="text-danger"></span>
                                            </div>
                                            <div class="container-modal-btn">
                                                <button type="submit" data-notification-id="@notificacionAdmin.Notificaciones.Id" class="save-button">Guardar</button>
                                                <a href="~/Notificaciones/Notificacion" class="modal-secundaria__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @if (notificacionAdmin.Transacciones.Estado != "PENDIENTE ADMIN" &&  notificacionAdmin.Transacciones.Estado == "APROBADO" )
                            {
                                <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                    <div class="modal__container">
                                        <h2 class="modal__title">Detalles</h2>
                                        <div class="modal__content">
                                            <p class="modal__paragraph"><strong>Razon:</strong> @notificacionAdmin.Notificaciones.Razon</p>
                                            <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionAdmin.Notificaciones.FechaNotificacion.ToString("dd-MM-yyyy")</p>
                                            <p class="modal__paragraph"><strong>IdUser:</strong> @notificacionAdmin.Notificaciones.IdUser</p>
                                            <p class="modal__paragraph"><strong>Tipo de Cuota:</strong> @notificacionAdmin.Transacciones.TipoCuota</p>
                                            <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                            <p class="modal__description">@notificacionAdmin.Notificaciones.Descripcion</p>
                                            <p class="modal__paragraph"><strong>Destino:</strong> @notificacionAdmin.Notificaciones.Destino</p>
                                            <div class="container-modal-btn">
                                                <a href="~/Notificaciones/Notificacion" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="modal-principal" id="modal-@notificacionAdmin.Notificaciones.Id">
                                    <div class="modal__container">
                                        <h2 class="modal__title">Detalles</h2>
                                        <div class="modal__content">
                                            <p>Transaccion Con Estado Erroneo</p>
                                            <div class="container-modal-btn">
                                                <a href="~/Notificaciones/Notificacion" class="modal__close" data-notification-id="@notificacionAdmin.Notificaciones.Id">Cerrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
            else
            {
                <p>Actualmente no Tienes Notificaciones.</p>
            }
        }
        else
        {
            @if (!User.HasClaim("Rol", "Administrador") && (User.HasClaim("Rol", "Socio") || User.HasClaim("Rol", "Referido")))
            {
                @if (TotalNotiUser > 0)
                {
                    <div class="content-notif">
                        @foreach (var notificacionUser in Model)
                        {
                            <div class="notif-container">
                                <p class="notif-text">Razon: @notificacionUser.Notificaciones.Razon</p>
                                <p class="notif-text">Fecha: @notificacionUser.Notificaciones.FechaNotificacion.ToString("dd-MM-yyyy HH:mm:ss")</p>
                                <button class="btn-visualizar" data-notification-id="@notificacionUser.Notificaciones.Id">Visualizar</button>
                            </div>

                            @if (notificacionUser.Transacciones.Estado == "DENEGADO")
                            {
                                <div class="modal-principal" id="modal-@notificacionUser.Notificaciones.Id">
                                    <div class="modal__container">
                                        <h2 class="modal__title">Detalles</h2>
                                        <div class="modal__content">
                                            <p class="modal__paragraph"><strong>Razon:</strong> @notificacionUser.Notificaciones.Razon</p>
                                            <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionUser.Notificaciones.FechaNotificacion.ToString("dd-MMMM-yyyy")</p>
                                            <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                            <p class="modal__description">@notificacionUser.Notificaciones.Descripcion</p>
                                            <div class="container-modal-btn">
                                                <a href="~/Notificaciones/Notificacion" class="modal__close" data-notification-id="@notificacionUser.Notificaciones.Id">Cerrar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @if (notificacionUser.Transacciones.Estado != "DENEGADO" && notificacionUser.Transacciones.Estado == "PENDIENTE REFERENTE")
                                {
                                    <div class="modal-principal" id="modal-@notificacionUser.Notificaciones.Id">
                                        <div class="modal__container">
                                            <h2 class="modal__title">Detalles</h2>
                                            <div class="modal__content">
                                                <p class="modal__paragraph"><strong>Razon:</strong> @notificacionUser.Notificaciones.Razon</p>
                                                <p class="modal__paragraph"><strong>Fecha:</strong> @notificacionUser.Notificaciones.FechaNotificacion.ToString("dd-MMMM-yyyy")</p>
                                                <p class="modal__paragraph"><strong>Descripcion:</strong></p>
                                                <p class="modal__description">@notificacionUser.Notificaciones.Descripcion</p>
                                                <div class="container-modal-btn">
                                                    <button class="btn-mdl-aceptar" data-notification-id="@notificacionUser.Notificaciones.Id">Aceptar</button>
                                                    <button class="btn-mdl-rechazar" data-notification-id="@notificacionUser.Notificaciones.Id">Rechazar</button>
                                                    <a href="~/Notificaciones/Notificacion" class="modal__close" data-notification-id="@notificacionUser.Notificaciones.Id">Cerrar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-aceptar" id="modal-aceptar-@notificacionUser.Notificaciones.Id">
                                        <div class="modal-aceptar__container">
                                            <h2 class="modal__title">Esta seguro en Aceptar las condiciones dadas por los Administradores?</h2>
                                            <div class="modal-aceptar__content">
                                                <form asp-action="AceptarReferente">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="@notificacionUser.Transacciones.Id" name="Id" id="Id" />
                                                    <div class="container-modal-btn">
                                                        <button type="submit" data-notification-id="@notificacionUser.Notificaciones.Id" class="save-button">Aceptar</button>
                                                        <a href="~/Notificaciones/Notificacion" class="modal-secundaria__close" data-notification-id="@notificacionUser.Notificaciones.Id">Cerrar</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-rechazar" id="modal-rechazar-@notificacionUser.Notificaciones.Id">
                                        <div class="modal-rechazar__container">
                                            <h2 class="modal__title">Esta Seguro en Rechazar las condiciones dadas por los Administradores?</h2>
                                            <div class="modal-rechazar__content">
                                                <form asp-action="RechazarReferente">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="@notificacionUser.Transacciones.Id" name="Id" id="Id" />
                                                    <div class="container-modal-btn">
                                                        <button type="submit" class="save-button" data-notification-id="@notificacionUser.Notificaciones.Id">Rechazar</button>
                                                        <a href="~/Notificaciones/Notificacion" class="modal-secundaria__close" data-notification-id="@notificacionUser.Notificaciones.Id">Cerrar</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                }
                else
                {
                    <p>Actualmente no Tienes Notificaciones.</p>
                }
            }
            else
            {
                <p>Usted no tiene permisos para esta funcion.</p>
            }
        }
    </div>
</body>