@model IEnumerable<act_Application.Models.BD.ActCuota>

@{
    ViewData["Title"] = "Cuotas";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloTablaIndex.css" />
</head>

<div class="content-text">
    <h1>Cuotas</h1>

    <p>
        <a asp-action="CreateCuotas">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTransaccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorCuota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCuota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTransaccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorCuota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCuota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a class="button edit" asp-action="EditCuotas" asp-route-id="@item.Id">Editar</a>
                        <a class="button delete" asp-action="DeleteCuotas" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>