@model act_Application.Models.BD.ActTransaccione

@{
    ViewData["Title"] = "Delete";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloEliminar.css" />
</head>


<div class="content-text">
    <h1>Eliminar Registro de Transacciones</h1>
    <hr />
    <div class="container">
        <table>
            <tr>
                <td class="titulo">Razon</td>
                <td class="texto">@Html.DisplayFor(model => model.Razon)</td>
            </tr>
            <tr>
                <td class="titulo">Id del Usuario</td>
                <td class="texto">@Html.DisplayFor(model => model.IdUser)</td>
            </tr>
            <tr>
                <td class="titulo">Valor</td>
                <td class="texto">@Html.DisplayFor(model => model.Valor)</td>
            </tr>
            <tr>
                <td class="titulo">Estado</td>
                <td class="texto">@Html.DisplayFor(model => model.Estado)</td>
            </tr>
            <tr>
                <td class="titulo">Fecha de Pago Total del Prestamo</td>
                <td class="texto">@Html.DisplayFor(model => model.FechaPagoTotalPrestamo)</td>
            </tr>
            <tr>
                <td class="titulo">Fecha de Entrega del Dineros</td>
                <td class="texto">@Html.DisplayFor(model => model.FechaEntregaDinero)</td>
            </tr>
            <tr>
                <td class="titulo">Fecha de Inicio del Prestamo por Cuotas</td>
                <td class="texto">@Html.DisplayFor(model => model.FechaIniCoutaPrestamo)</td>
            </tr>
        </table>
    </div>
    <div class="btn-container">
        <form asp-action="DeleteTransacciones">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn-delite" />
            <a class="btn-return" asp-action="AdminTransacciones">Regresar</a>
        </form>
    </div>
</div>
