@model IEnumerable<act_Application.Models.Sistema.ViewModels.Home_VM>
@using act_Application.Data.Data;
@{
    ViewBag.Title = "Home";

    var eventosRepository = new EventosRepository();
    int TotalEventos = eventosRepository.GetTotalEventos();
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Home/Esqueleto/Cuerpo.css" />
    <link rel="stylesheet" href="/css/General/Home/Profile/cardProfile.css" />
    <link rel="stylesheet" href="/css/General/Home/Main/Main.css" />
    <link rel="stylesheet" href="/css/General/Home/Footer/Footer.css" />
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <div class="perfil-card">
                <div class="cont-img">
                    <img src="/img/Screenshot_38.png" alt="Imagen de perfil" />
                </div>
                <div class="cont-title">
                    <span class="profession">@User.Identity.Name</span>
                    <span class="tipousuario">@User.FindFirst("TipoUsuario")?.Value</span>
                </div>
            </div>
        </div>
        <div class="item2">
            <label class="item2-title">item2</label>
        </div>
        <div class="item3">
            <label class="item3-title">item3</label>
        </div>
        <div class="item4">
            <label class="item4-title">item4</label>
        </div>
        <div class="item5">
            <table class="main">
                <tr>
                    <td class="col-aport">Contenido Aportaciones</td>
                    <td class="col-mult">Contenido Multas</td>
                </tr>
                <tr>
                    <td class="col-part" colspan="2">Contenido Parte</td>
                </tr>
            </table>
        </div>
        <div class="item6">
            <div class="fila-supr">
                <div class="fs-titulo">
                    <label class="fs-t1">Eventos de Participacion</label>
                </div>
            </div>
            <div class="fila-infr">
                @if(TotalEventos > 0)
                {
                    @foreach (var eventos in Model)
                    {
                        <form asp-action="Participar">
                            <input type="hidden" asp-for="@eventos.Participante.Id" name="IdP" id="IdP" />
                            <button type="submit" class="btn-participante" data-notification-id="@eventos.Participante.Id">Participar</button>
                        </form>
                    }
                    
                }else
                {
                    <label>Por el Momento no hay Eventos el cual participar</label>
                }
            </div>
        </div>

    </div>
</body>

<!-- 
<div class="text-center">
    <div class="alert alert-success">
        <h1>Menu</h1>
        <h2>Bienvenido, @User.Identity.Name!</h2>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            <p>Tienes el rol de Administrador.</p>
        }
        else if (User.HasClaim("Rol", "Socio"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else if (User.HasClaim("Rol", "Referido"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else
        {
            <p>Tu rol no está definido o no tiene permisos asignados.</p>
        }
    </div>
</div>
-->

