@model IEnumerable<act_Application.Models.Sistema.ViewModels.Home_VM>
@using act_Application.Data.Data;
@{
    ViewBag.Title = "Home";

    var eventosRepository = new EventosRepository();
    int contadorEventos = eventosRepository.GetDataEventos().TotalEventos;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Home/Esqueleto/Esqueleto.css" />
    <link rel="stylesheet" href="/css/General/Home/Profile/cardProfile.css" />
    <link rel="stylesheet" href="/css/General/Home/Main/Main.css" />
    <link rel="stylesheet" href="/css/General/Home/Footer/Botones-Footer.css" />
    <link rel="stylesheet" href="/css/General/Home/Footer/VentanaModal.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/Menu/Eventos/Eventos.js"></script>
    <script src="../Logic/VisualizacionEventos.js"></script>
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <div class="perfil-card">
                <div class="cont-img">
                    <img src="/img/Screenshot_38.png" alt="Imagen de perfil" />
                </div>
                <div class="cont-title">
                    <span class="profession">@User.Identity.Name</span>
                    <span class="tipousuario">@User.FindFirst("TipoUsuario")?.Value</span>
                </div>
            </div>
        </div>
        <div class="item2">
            <label class="item2-title">item2</label>
        </div>
        <div class="item3">
            <label class="item3-title">item3</label>
        </div>
        <div class="item4">
            <label class="item4-title">item4</label>
        </div>
        <div class="item5">
            <table class="main">
                <tr>
                    <td class="col-aport">Contenido Aportaciones</td>
                    <td class="col-mult">Contenido Multas</td>
                </tr>
                <tr>
                    <td class="col-part" colspan="2">Contenido Parte</td>
                </tr>
            </table>
        </div>
        <div class="item6">
            <div class="fila-supr">
                <div class="fs-titulo">
                    <label class="fs-t1">Eventos de Participacion</label>
                </div>
            </div>
            <div class="fila-infr">
                @if(contadorEventos > 0)
                {
                    @foreach (var evento in Model)
                    {
                        @if(evento.Eventos.Estado =="CONCURSO")
                        {
                            <div class="content-formulario" id="content-formulario-@evento.Eventos.Id">
                                <button type="submit" class="btn-participante" data-event-id="@evento.Eventos.Id">Evento #@evento.Eventos.Id </button>
                            </div>

                            <div class="eventos-modal" id="eventos-modal-@evento.Eventos.Id">
                                <div class="modal-content">
                                    <div class="modal-supr">
                                        <h2 class="modal-evento-titulo">Evento de Participacion #@evento.Eventos.Id</h2>
                                        <p class="modal-parrafo">Nombre Referido Dueño de la Transaccion: @evento.Eventos.NombreUsuario</p>
                                        <p class="modal-parrafo">Valor del Prestamo: @evento.Transacciones.Valor</p>
                                        <p class="modal-parrafo">Tipo de Cuota: @evento.Transacciones.TipoCuota</p>
                                        <p class="modal-parrafo">Fecha de Pago de Deuda: @evento.Transacciones.FechaPagoTotalPrestamo.ToString("dd-MMMM-yyyy")</p>
                                    </div>
                                    <div class="modal-infr" id="modal-infr-@evento.Eventos.Id">
                                        <form asp-action="Participar">
                                            <input type="hidden" asp-for="@evento.Eventos.Id" id="IdP" name="IdP"/>
                                            <button class="add-participante" type="submit" data-event-id="@evento.Eventos.Id">Participar</button>
                                            <a href="" class="close-modal" data-event-id="@evento.Eventos.Id">Cerrar</a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    <label>Por el momento no hay eventos para participar</label>
                }

            </div>
        </div>

    </div>
</body>
