@model act_Application.Models.Sistema.ViewModel.Transacciones_VM;
@using act_Application.Data.Repository;
@using act_Application.Models.BD;
@using act_Application.Models.Sistema.Complementos;
@{
    ViewData["Title"] = "Transacciones";
    bool condiCuotUser = false, condiMultUser = false;
    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == "Id");
    int IdUser = -1;
    if (userIdClaim != null && int.TryParse(userIdClaim.Value, out IdUser))
    {
        condiCuotUser = (bool) new CuotaRepository().OperacionesCuotas(5, 0, IdUser);
        condiMultUser = (bool) new MultaRepository().OperacionesMultas(2, 0, IdUser);
    }
    DateTime minDate = DateTime.Now.AddDays(14);
    string minDateStr = minDate.ToString("yyyy-MM-dd");
    DateTime maxDate = DateTime.Now.AddDays(25);
    string maxDateStr = maxDate.ToString("yyyy-MM-dd");
    DateTime minDateP = DateTime.Now.AddDays(26);
    string minDateStrP = minDateP.ToString("yyyy-MM-dd");
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Transacciones/Transacciones.css" />
</head>
<body>
    <div class="container">
        <h2>Transacciones</h2>
        <div class ="Container-Selector">
            <label>Elija la Transaccion que va a realizar.</label>
            <select class="select-opcion" placeholder="Seleccione una Operacion..." required>
                <option value="">Seleccione una Operacion...</option>
                <option value="Aporte">OP 1 - Aportacion</option>
                <option value="Prestamo">OP 2 - Prestamo</option>
                <option value="PCuota">OP 3 - Pago de Cuota</option>
                <option value="PMulta">OP 4 - Pago de Multa</option>
            </select>
        </div>

        <div class="c_apor">
            <label>Aportacion</label>
            <form asp-action="Aporte" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--Contenedor de la Fecha-->
                <div class="form-group">
                    <label>Fecha de Hoy:</label>
                    <div class="date">
                        <script>
                            date = new Date().toLocaleDateString();
                            document.write(date);
                        </script>
                    </div>
                </div>

                <!--Contenedor del Nombre del Banco de Origen-->
                <div class="form-group">
                    <label asp-for="Aportaciones.NBancoOrigen">Nombre del Banco:</label>
                    <input asp-for="Aportaciones.NBancoOrigen" class="input-nco" type="text" name="NBancoOrigen" placeholder="Agrega el nombre del Banco de donde hiciste el deposito" required />
                    <span asp-validation-for="Aportaciones.NBancoOrigen" class="text-danger"></span>
                </div>

                <!--Contenedor de la Cuenta Bancaria de Origen-->
                <div class="form-group">
                    <label asp-for="Aportaciones.CBancoOrigen">Cuenta Bancaria:</label>
                    <input asp-for="Aportaciones.CBancoOrigen" class="input-cbo" type="number" min="000000" max="999999999999" name="CBancoOrigen" placeholder="Agrega el # de cuenta de transeferencia, 000000 si hiciste por deposito." required />
                    <span asp-validation-for="Aportaciones.CBancoOrigen" class="text-danger"></span>
                </div>

                <!--Contenedor de Banco Destino-->
                <div class="form-group">
                    <label>Banco Destino:</label>
                    <select name="CuentaDestino" required>
                        <option value="">Seleccionar un Banco Destino...</option>
                        @foreach (var cuenta in Model.ItemCuentaBancoDestino)
                        {
                            <option value="@cuenta.NombreBanco - #@cuenta.NumeroCuentaB">@cuenta.NombreBanco - #@cuenta.NumeroCuentaB</option>
                        }
                    </select>
                </div>

                <!--Contenedor de Valor-->
                <div class="form-group">
                    <label asp-for="Aportaciones.Valor">Monto:</label>
                    <div class="input-container">
                        <span class="dollar-sign">$</span>
                        <input asp-for="Aportaciones.Valor" class="input-monto" type="number" min="5" step="0.01" placeholder="Agrega el monto a Aportar." name="Valor" />
                        <span asp-validation-for="Aportaciones.Valor" class="text-danger"></span>
                    </div>
                </div>

                <!--Contenedor de Captura de Pantalla-->
                <div class="form-group">
                    <label asp-for="Aportaciones.CapturaPantalla">Comprobante de Transferencia:</label>
                    <input asp-for="Aportaciones.CapturaPantalla" name="CapturaPantalla" class="input-file" type="file" accept=".jpg, .png" required />
                    <span asp-validation-for="Aportaciones.CapturaPantalla" class="text-danger"></span>
                </div>

                <!--Contenedor de los Botones-->
                <div class="buttons">
                    <button type="submit" class="save-button">Guardar</button>
                    <button type="button" onclick="limpiar()" class="clear-button">Limpiar</button>
                </div>
            </form>

        </div>

        <div class="c_pres">
            <label>Peticion de Prestamo</label>
            <form asp-action="Prestamo" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--Contenedor de Valor-->
                <div class="form-group">
                    <label asp-for="Prestamos.Valor">Monto:</label>
                    <div class="input-container">
                        <span class="dollar-sign">$</span>
                        <input asp-for="Prestamos.Valor" class="input-monto" type="number" step="0.50" min="5.00" id="Valor" placeholder="Agrega el Valor que deseas que te presten" required />
                        <span asp-validation-for="Prestamos.Valor" class="text-danger"></span>
                    </div>
                </div>

                <!--Contenedor del Tipo de Cuota-->
                <div class="form-group">
                    <label asp-for="Prestamos.TipoCuota">Tipo de Cuota:</label>
                    <select asp-for="Prestamos.TipoCuota" name="TipoCupota" placeholder="Seleccionar un Tipo de Cuota..." required>
                        <option value="">Seleccionar un Tipo de Cuota...</option>
                        @foreach (var item in ViewData["ItemsCuota"] as List<ListItems>)
                        {
                            <option value="@item.Nombre">@item.Nombre</option>
                        }
                        <input type="hidden" asp-for="Prestamos.TipoCuota" />
                    </select>
                    <span asp-validation-for="Prestamos.TipoCuota" class="text-danger"></span>
                </div>

                <!--Contenedor de la Fecha de Entrega del Dinero-->
                <div class="form-group">
                    <label asp-for="Prestamos.FechaEntregaDinero">Fecha de Entrega del Efectivo</label>
                    <input asp-for="Prestamos.FechaEntregaDinero" type="date" class="inp-date" min="@minDateStr" max="@maxDateStr" id="FechaEntregaDinero" required />
                    <span asp-validation-for="Prestamos.FechaEntregaDinero" class="text-danger"></span>
                </div>

                <!--Contenedor de la Fecha de Inicio de Pago-->
                <div class="form-group">
                    <label asp-for="Prestamos.FechaInicioPagoCuotas">Fecha Inicio de Pago de Cuotas</label>
                    <input asp-for="Prestamos.FechaInicioPagoCuotas" type="date" class="inp-date" id="FechaIniCoutaPrestamo" min="@minDateStrP" required />
                    <span asp-validation-for="Prestamos.FechaInicioPagoCuotas" class="text-danger"></span>
                </div>

                <!--Contenedor de los Botones-->
                <div class="buttons">
                    <button type="submit" class="save-button">Guardar</button>
                    <button type="button" onclick="limpiar()" class="clear-button">Limpiar</button>
                </div>

            </form>
        </div>
        
        <div class="c_pcuo">
            <label>Pago de Cuota</label>
            @if (condiCuotUser)
            {
                var obj = (List<ActCuota>) new CuotaRepository().OperacionesCuotas(1, 0, IdUser);
                <form asp-action="PagoCuota" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--Contenedor Id de la Cuota a pagar-->
                    <select asp-for="Cuotas.Id" name="Id" placeholder="Selecciona una Cuota" required>
                        <option value="">Selecciona la Cuota a Pagar</option>
                        @for (int i = 0;  i < obj.Count; i++)
                        {
                            <option value="@obj[i].Id">Cuota #@obj[i].Id - Estado:@obj[i].Estado / F.P. @obj[i].FechaCuota</option>
                        }
                    </select>

                    <!--Contenedor del Nombre del Banco de Origen-->
                    <div class="form-group">
                        <label asp-for="Cuotas.NBancoOrigen">Cuenta:</label>
                        <input asp-for="Cuotas.NBancoOrigen" class="input-nco" type="text" name="NBancoOrigen" placeholder="Agrega el nombre del Banco de donde hiciste el deposito" required />
                        <span asp-validation-for="Cuotas.NBancoOrigen" class="text-danger"></span>
                    </div>

                    <!--Contenedor de la Cuenta Bancaria de Origen-->
                    <div class="form-group">
                        <label asp-for="Cuotas.CBancoOrigen">Cuenta:</label>
                        <input asp-for="Cuotas.CBancoOrigen" class="input-cbo" type="number" min="10000000" max="999999999999" name="CBancoOrigen" placeholder="Agrega el numero de cuenta de donde transeferencia, 0 si lo hiciste por deposito." required />
                        <span asp-validation-for="Cuotas.CBancoOrigen" class="text-danger"></span>
                    </div>

                    <!--Contenedor de Banco Destino-->
                    <div class="form-group">
                        <label>Banco Destino:</label>
                        <select name="CuentaDestino" required>
                            <option value="">Seleccionar un Banco Destino...</option>
                            @foreach (var cuenta in Model.ItemCuentaBancoDestino)
                            {
                                <option value="@cuenta.NombreBanco - #@cuenta.NumeroCuentaB">@cuenta.NombreBanco - #@cuenta.NumeroCuentaB</option>
                            }
                        </select>
                    </div>

                    <!--Contenedor de Valor-->
                    <div class="form-group">
                        <label asp-for="Cuotas.Valor">Monto:</label>
                        <div class="input-container">
                            <span class="dollar-sign">$</span>
                            <input asp-for="Cuotas.Valor" class="input-monto" type="number" min="5" step="0.01" name="Valor" />
                            <span asp-validation-for="Cuotas.Valor" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Contenedor de Captura de Pantalla-->
                    <div class="form-group">
                        <label>Comprobante de Transferencia:</label>
                        <input name="CapturaPantalla" class="input-file" type="file" accept=".jpg, .png" />
                        <span  class="text-danger"></span>
                    </div>

                    <!--Contenedor de los Botones-->
                    <div class="buttons">
                        <button type="submit" class="save-button">Guardar</button>
                        <button type="button" onclick="limpiar()" class="clear-button">Limpiar</button>
                    </div>
                </form>
            }
            else
            {
                <p>No Adeudas Cuotas actualmente</p>
            }

        </div>
        
        <div class="c_pmul">
            <label>Pago de Multas</label>
            @if (condiMultUser)
            {
                var obj = (List<ActMulta>) new MultaRepository().OperacionesMultas(4, 0, IdUser);
                <form asp-action="PagoMulta" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!--Contenedor Id de la Cuota a pagar-->
                    <select asp-for="Multas.Id" name="Id" placeholder="Selecciona una Cuota" required>
                        <option value="">Selecciona la Cuota a Pagar</option>
                        @for (int i = 0; i < obj.Count; i++)
                        {
                            <option value="@obj[i].Id">Multa #@obj[i].Id - Estado:@obj[i].Estado </option>
                        }
                    </select>

                    <!--Contenedor del Nombre del Banco de Origen-->
                    <div class="form-group">
                        <label asp-for="Multas.NBancoOrigen">Cuenta:</label>
                        <input asp-for="Multas.NBancoOrigen" class="input-nco" type="text" name="NBancoOrigen" placeholder="Agrega el nombre del Banco de donde hiciste el deposito" required />
                        <span asp-validation-for="Multas.NBancoOrigen" class="text-danger"></span>
                    </div>

                    <!--Contenedor de la Cuenta Bancaria de Origen-->
                    <div class="form-group">
                        <label asp-for="Multas.CBancoOrigen">Cuenta:</label>
                        <input asp-for="Multas.CBancoOrigen" class="input-cbo" type="number" min="10000000" max="999999999999" name="CBancoOrigen" placeholder="Agrega el numero de cuenta de donde transeferencia, 0 si lo hiciste por deposito." required />
                        <span asp-validation-for="Multas.CBancoOrigen" class="text-danger"></span>
                    </div>

                    <!--Contenedor de Banco Destino-->
                    <div class="form-group">
                        <label>Banco Destino:</label>
                        <select name="CuentaDestino" required>
                            <option value="">Seleccionar un Banco Destino...</option>
                            @foreach (var cuenta in Model.ItemCuentaBancoDestino)
                            {
                                <option value="@cuenta.NombreBanco - #@cuenta.NumeroCuentaB">@cuenta.NombreBanco - #@cuenta.NumeroCuentaB</option>
                            }
                        </select>
                    </div>

                    <!--Contenedor de Valor-->
                    <div class="form-group">
                        <label asp-for="Multas.Valor">Monto:</label>
                        <div class="input-container">
                            <span class="dollar-sign">$</span>
                            <input asp-for="Multas.Valor" class="input-monto" type="number" min="5" step="0.01" name="Valor" />
                            <span asp-validation-for="Multas.Valor" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Contenedor de Captura de Pantalla-->
                    <div class="form-group">
                        <label>Comprobante de Transferencia:</label>
                        <input name="CapturaPantalla" class="input-file" type="file" accept=".jpg, .png" />
                        <span class="text-danger"></span>
                    </div>

                    <!--Contenedor de los Botones-->
                    <div class="buttons">
                        <button type="submit" class="save-button">Guardar</button>
                        <button type="button" onclick="limpiar()" class="clear-button">Limpiar</button>
                    </div>
                </form>
            }
            else
            {
                <p>No Adeudas Multas Actualmente</p>
            }

        </div>

    </div>
</body>
<script src="/js/General/Transacciones/Transacciones.js"></script>