@model act_Application.Models.ActAportacione

@{
    ViewData["Title"] = "Eliminar Aportaciones";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloEliminar.css" />
</head>
<h1>Eliminar Aportaciones</h1>
<hr />
<div class="container">
    <table>
        <tr>
            <td class="titulo">Razon</td>
            <td class="texto">@Html.DisplayFor(model => model.Razon)</td>
        </tr>
        <tr>
            <td class="titulo">Valor</td>
            <td class="texto">@Html.DisplayFor(model => model.Valor)</td>
        </tr>
        <tr>
            <td class="titulo">Id del Usaurio</td>
            <td class="texto">@Html.DisplayFor(model => model.IdUser)</td>
        </tr>
        <tr>
            <td class="titulo">Id del Usuario</td>
            <td class="texto">@Html.DisplayFor(model => model.FechaAportacion)</td>
        </tr>
        <tr>
            <td class="titulo">Id del Usuario</td>
            <td class="texto">@Html.DisplayFor(model => model.Aprobacion)</td>
        </tr>
        <tr>
            <td class="titulo">Id del Usuario</td>
            <td class="texto">@Html.DisplayFor(model => model.CapturaPantalla)</td>
        </tr>
    </table>
</div>
<div class="btn-container">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn-delite" />
        <a class="btn-return" asp-action="Index">Regresar</a>
    </form>
</div>
    